# Node modules
node_modules/

# Archivos compilados de TypeScript
dist/

# Variables de entorno privadas
.env

# Logs
*.log

# Config de editores (Visual Studio Code, etc.)
.vscode/
.idea/

# Archivos de sistema (macOS, Windows)
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
